body{
	font-size:25px;
}
fieldset{
	height:750px;
    width:600px;
    padding:50px;
    margin:200px 0px 100px 450px;
	border:solid #005580;
    border-radius:25px; 
	background-color:#b3d9ff;
 }	
label{
	font-size:25px;
    width:200px;
    margin:5px;
	color:#005580;
}	
.input1{
	width:225px;
	height:25px;
	border:solid #005580;
    border-radius:25px; 
	font-size:20px;
	
	}
textarea{
	width:500px;
    height:100px;
}
p{ /*style for text outside of the lable*/
	color:#005580;
}
.input2{
	margin:0px 50px 0px 0px;
}
#submit { height:50px; }